* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #151230;
}
.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    perspective: 800px;
}
.loader .loader-item {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.loader .loader-item:nth-child(1) {
    border-bottom: 6px solid #f13a8f;
    transform: rotateX(35deg) rotateY(-45deg);
    -webkit-transform: rotateX(35deg) rotateY(-45deg);
    -moz-transform: rotateX(35deg) rotateY(-45deg);
    -ms-transform: rotateX(35deg) rotateY(-45deg);
    -o-transform: rotateX(35deg) rotateY(-45deg);
    animation: rotation-one 1s linear infinite;
    -webkit-animation: rotation-one 1s linear infinite;
}
.loader .loader-item:nth-child(2) {
    border-right: 6px solid #4bc8eb;
    transform: rotateX(50deg) rotateY(10deg);
    -webkit-transform: rotateX(50deg) rotateY(10deg);
    -moz-transform: rotateX(50deg) rotateY(10deg);
    -ms-transform: rotateX(50deg) rotateY(10deg);
    -o-transform: rotateX(50deg) rotateY(10deg);
    animation: rotation-two 1s linear infinite;
    -webkit-animation: rotation-two 1s linear infinite;
}
.loader .loader-item:nth-child(3) {
    border-top: 6px solid #36f372;
    transform: rotateX(35deg) rotateY(55deg);
    -webkit-transform: rotateX(35deg) rotateY(55deg);
    -moz-transform: rotateX(35deg) rotateY(55deg);
    -ms-transform: rotateX(35deg) rotateY(55deg);
    -o-transform: rotateX(35deg) rotateY(55deg);
    animation: rotation-three 1s linear infinite;
    -webkit-animation: rotation-three 1s linear infinite;
}

@keyframes rotation-one {
    to {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
}
}
@keyframes rotation-two {
    to {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
}
}
@keyframes rotation-three {
    to {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
}
}











